{#----------------------------------------------------------------------------------------------------------------------#}
{#---------------------------------                PAGE DE CONNEXION                 -----------------------------------#}
{#----------------------------------------------------------------------------------------------------------------------#}
{# Page généré automatiquement avec l'utilisation du bundle security de symfony. #}
{# Pour le moment vu que je n'ai qu'un seul utilisateur et admin, je n'ai pas encore effectué de modification sur ce fichier. #}
{# Par la suite il sera modifier pour permettre la connexion des utilisateurs dans l'espace "patient".#}


{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="mainindex">
        <h1>Se <strong>connecter</strong></h1>
        <div class="login_form">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Tu es connecté en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                    </div>
                {% endif %}

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
                       autofocus placeholder="votre email">
                <br>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="votre mot de passe">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <br>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me">Remember me
                    </label>
                </div>
                <button class="buttonadmin float-right" type="submit">
                    connexion
                </button>
                <a class="buttonadmin" href="{{ path('article_index') }}">Retour accueil</a>
            </form>
        </div>
    </div>
{% endblock %}
