{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <main class="mainindex">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="titreadmin">
                <h1 id="presentation">Présentation</h1>
                <button class="buttonadmin">Créer un article</button>
            </div>
            {% else %}
                <h1 id="presentation">Présentation</h1>
        {% endif %}
        <article class="article2 row">
            <img class="col img1"
                 src="{{ asset('assets/img/jouets_africain.png') }}"
                 alt="">
            <div class="divtxt col">
                <h3>Qui <strong>suis-je</strong> ?</h3>
                <p>
                    Depuis le début de mes études en Psychologie à l'Université Paris-Ouest La Défense, j'ai toujours su
                    que l'enfance était le milieu dans lequel je souhaitais évoluer. Après de nombreuses expériences
                    professionnelles, j'ai appris à leur venir en aide directement à l'école.</p>
                <p>J'ai également eut plusieurs expériences dans le domaine du handicap. J'aime
                    travailler avec l'enfant et le voir progresser, grandir, devenir autonome, ainsi qu'apporter mon
                    aide à sa famille.</p>
                <p>Lors d'une mission humanitaire en Afrique, j'ai travaillé dans une pouponière pendant plusieurs mois
                    et j'en retire une leçon indispensable : je ne peux rien faire sans vous. C'est vous qui le
                    connaissez le mieux.</p>
                <p>Depuis 3 ans, je me spécialise dans la prise en charge des troubles du spectre autistique. Je suis
                    formée et supervisée par Caroline Peters (BCBA), sur les techniques d'apprentissage du langage, de
                    la communication et du jeu, mais également sur les troubles du comportement. J'utilise la
                    pédagogie Montessori et la méthode Denver pour la prise en charge précoce de l'enfant à partir de 18
                    mois.</p>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="buttonadmin">Update</button>
                    <button class="buttonadmin">Supprimer</button>
                {% endif %}
            </div>
        </article>
        <article class="article2 row">
            <div class="divtxt col">
                <h3>Mes <strong>diplômes</strong> et <strong>formations</strong></h3>
                <ul>
                    <li>Master II : psychologie du developpement de l'enfant et de l'adolescent</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                    <li>Formation n°</li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="buttonadmin">Update</button>
                    <button class="buttonadmin">Supprimer</button>
                {% endif %}
            </div>
            <img class="col img-fluid img1"
                 src="{{ asset('assets/img/palette_de_couleur.png') }}"
                 alt="">
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="titreadmin">
                <h1 id="pourquoivenir">Pourquoi <strong>venir</strong> ?</h1>
                <button class="buttonadmin">Créer un article</button>
            </div>
        {% else %}
            <h1 id="pourquoivenir">Pourquoi <strong>venir</strong> ?</h1>
        {% endif %}
        <article class="article2 row">
            <img class="col img-fluid img1"
                 src="{{ asset('assets/img/lucas_velo.png') }}"
                 alt="">
            <div class="divtxt col">
                <h3>Les <strong>enfants</strong> :</h3>
                <ul>
                    <li>Difficultés scolaires : anxiété, phobie scolaire, troubles des apprentissages,</li>
                    <li>Troubles du comportement : agitation, trouble de l'attention, hyperactivité, agressivité,</li>
                    <li>Troubles de l’humeur : dépression infantile, tristesse, deuil, gestion des émotions</li>
                    <li>Difficultés familiales</li>
                    <li>Difficultés relationnelles</li>
                    <li>Difficultés liées au stress ou à l’anxiété : somatisations (maux de tête, maux de ventre), toc
                        (obsessions, compulsions), troubles du sommeil (problèmes d’endormissement, angoisses nocturnes)
                    </li>
                    <li>Autre: problèmes autour de la propreté (énurésie, encoprésie), de l'alimentation, etc.</li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="buttonadmin">Update</button>
                    <button class="buttonadmin">Supprimer</button>
                {% endif %}
            </div>
        </article>
        <article class="article2 row">
            <div class="divtxt col">
                <h3>Les <strong>adolescents</strong> :</h3>
                <ul>
                    <li>Troubles du comportement alimentaire : anorexie, boulimie, obésité,</li>
                    <li>Crise d’adolescence : problèmes relationnels avec les parents ou la fratrie, difficultés autour
                        de l’autorité, etc.
                    </li>
                    <li>Troubles anxieux</li>
                    <li>Utilisation excessive des écrans</li>
                    <li>Difficultés relationnelles : repli, difficulté à communiquer, harcèlement scolaire.</li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="buttonadmin">Update</button>
                    <button class="buttonadmin">Supprimer</button>
                {% endif %}
            </div>
            <img class="col img-fluid img1" src="{{ asset('assets/img/maison_kapla.png') }}">
        </article>
        <article class="article2 row">
            <img class="col img-fluid img1"
                 src="{{ asset('assets/img/peinture.png') }}"
                 alt="">
            <div class="divtxt col">
                <h3>Les <strong>parents</strong> :</h3>
                <p>
                    La vie d'un parent est faite de bonheur mais aussi de doutes et d'inquiétudes. Vous avez un projet
                    de bébé, vous êtes jeunes parents et ne vous sentez pas à l'aise dans cette nouvelle vie, au
                    contraire vous avez des enfants ou ados plus âgés et avez des questions sur votre parentalité ?
                    N'hésitez pas à me contacter, nous essaierons de trouver ensemble des solutions pour que votre
                    famille retrouve sa joie de vivre et sa sérénité.
                </p>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="buttonadmin">Update</button>
                    <button class="buttonadmin">Supprimer</button>
                {% endif %}
            </div>
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="titreadmin">
                <h1 id="methodes">Mes <strong>Méthodes</strong></h1>
                <button class="buttonadmin">Créer un article</button>
            </div>
        {% else %}
            <h1 id="methodes">Mes <strong>Méthodes</strong></h1>
        {% endif %}
        <article class="article2 row">
            <img class="col img-fluid img1"
                 src="{{ asset('assets/img/lucas_lavage_main.png') }}"
                 alt="">
            <div class="divtxt col">
                <h4>Consultation de <strong>psychologie</strong></h4>
                <p>Certains troubles deviennent de réelles préoccupations pour l'enfant et ses parents. De passage ou
                    durable, ils nécessitent parfois une prise en charge spécifique, d'une ou plusieurs séances.</p>
                <p>Le dessin et le jeu sont d'excellents moyens d'expression utilisés pour les enfants, tandis que la
                    parole et l'écriture conviendront mieux aux ados ! Il est indispensable de préciser ici que
                    l'engagement et l'accord de l'adolescent dans la thérapie est indispensable.</p>
                <p> L'objectif est toujours d'apporter un mieux-être au petit patient, mais également à l'ensemble de sa
                    famille. </p>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="buttonadmin">Update</button>
                    <button class="buttonadmin">Supprimer</button>
                {% endif %}
            </div>
        </article>
        <article class="article2 row">
            <div class="divtxt col">
                <h4><strong>Suivi</strong> ABA et TEACCH- <strong>Supervision</strong> de la prise en charge d'enfant ou
                    adolescent <strong>TSA</strong></h4>
                <p>Formée aux méthodes recommandées par la Haute Autorité de Santé dans le cadre du Plan Autisme 2018,
                    je propose le dépistage et le suivi d'enfants/adolescents à partir de 18 mois. ​
                <ul>La prise en charge <strong>consiste</strong> à :
                    <li>évaluer les comportements adaptatifs de l'enfant/adolescent (Vineland 2) ;</li>
                    <li>évaluer le niveau de langage (test VB-MAPP) ;</li>
                    <li>favoriser l'apprentissage dans l'environnement naturel</li>
                    <li>développer compréhension et langage</li>
                    <li>soutenir et guider la famille à affronter les difficultés (apprentissage, jeu, alimentation,
                        hygiène, sommeil, communication, etc)</li>
                    <li>travailler l'autonomie grâce à la méthode Montessori.</li>
                    <li>Superviser l'accompagnant de votre enfant si vous en avez un.</li>
                </ul>
                <p>J'effectue des séances à domicile pour être là au moment où vous en avez besoin (repas, bain,
                    école...).</p>
                <p>J'effectue des bilans complets de dépistage et évalue le niveau d'adaptation de
                    l'enfant (ADI-R et ADOS2).</p>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="buttonadmin">Update</button>
                    <button class="buttonadmin">Supprimer</button>
                {% endif %}
            </div>
            <img class="col img-fluid img1"
                 src="{{ asset('assets/img/atelier_farine.png') }}"
                 alt="">
        </article>
        <article class="article2 row">
            <img class="col img-fluid img1" src="{{ asset('assets/img/peinture_doigt.png') }}" alt="">
            <div class="divtxt col">
                <h4>Bilan <strong>psychologique</strong></h4>
                <p>Vous vous interrogez sur la scolarité de votre enfant/adolescent (difficultés scolaires, sociales,
                    troubles des apprentissages (les fameuses Dys...)), et souhaitez réfléchir aux solutions pour
                    l'aider et l'orienter convenablement ?</p>
                <p>Le bilan psychologique est un éclairage sur le fonctionnement cognitif et affectif de
                    l'enfant/adolescent. Ce bilan permettra de faire le point sur ses facultés et de chercher des
                    solutions pour lui venir en aide si nécessaire.</p>
                <p>Le bilan permet également le dépistage de la précocité intellectuelle, des troubles de l'attention
                    avec ou sans hyperactivité (TDA/H), des troubles du spectre autistiques (TSA), ou d'un trouble des
                    apprentissages (Dyslexie, dyspraxie, dysorthographie, dyscalculie, etc).</p>
                <ul>
                    Il s'effectue en <strong>3 temps</strong> :
                    <li>Le premier entretien avec l'enfant et ses parents, afin de déterminer ensemble l'objectif du
                        bilan.
                    </li>
                    <li>Le bilan avec l'enfant seul (entre 2 et 4 séances)</li>
                    <li>La restitution du bilan en présence de l'enfant et ses parents.</li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="buttonadmin">Update</button>
                    <button class="buttonadmin">Supprimer</button>
                {% endif %}
            </div>
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="titreadmin">
                <h1 id="infos">Infos <strong>utiles</strong></h1>
                <button class="buttonadmin">Créer un article</button>
            </div>
        {% else %}
            <h1 id="infos">Infos <strong>utiles</strong></h1>
        {% endif %}
        <article class="row article2">
            <div class="col-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2789.807814261591!2d-1.032644584436852!3d45.634596979103286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480177e624ecb04f%3A0x287681f9d3434b9a!2sSophie%20Lamalle!5e0!3m2!1sfr!2sfr!4v1576242339914!5m2!1sfr!2sfr"
                        width="800" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="offset-2 col-4">
                <div>
                    <h3 class="col-12"><strong>Accès</strong> & <strong>Horaires</strong></h3>
                    <ul class="col-12">
                        <li>Place de <strong>parking</strong></li>
                        <li>Accessibilité <strong>PMR</strong></li>
                        <li>Ouvert le <strong>lundi, mercredi, vendredi</strong> et <strong>samedi</strong> </li>
                        <li>de: <strong>8h</strong> - <strong>18h</strong></li>
                    </ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <button class="buttonadmin">Update</button>
                        <button class="buttonadmin">Supprimer</button>
                    {% endif %}
                </div>
            </div>
        </article>
        <div class="titreadmin">
            <h1 id="reservation">Réservations</h1>
        </div>
        <article class="article2">
            <form method="post" class="form_contact">
                {{ form_start(forms) }}
                <div class="nomprenom">
                    <div>
                        <div>{{ form_label(forms.firstname) }}</div>
                        <div>{{ form_widget(forms.firstname) }}</div>
                    </div>
                    <div>
                        <div>{{ form_label(forms.lastname) }}</div>
                        <div>{{ form_widget(forms.lastname) }}</div>
                    </div>
                </div>
                <div class="phonemail">
                    <div>
                        <div>{{ form_label(forms.phone) }}</div>
                        <div>{{ form_widget(forms.phone) }}</div>
                    </div>
                    <div>
                        <div>{{ form_label(forms.email) }}</div>
                        <div>{{ form_widget(forms.email) }}</div>
                    </div>
                </div>
                <div>{{ form_label(forms.topic) }}</div>
                <div>{{ form_widget(forms.topic) }}</div>

                <div>{{ form_label(forms.message) }}</div>
                <div>{{ form_widget(forms.message) }}</div>

                <button type="submit" class="buttonadmin float-right">Envoyer</button>
                {{ form_end(forms) }}
            </form>
        </article>
        <article class="article2">
            <div class="rdv">
                <h3>Demande de <strong>rendez-vous</strong></h3>
                <p>Vous pouvez voir mes disponibilités à la semaine.</p>
                <p>Vous pouvez également réserver une séance directement via Doodle.</p>
                <p>Vous recevrez une confirmation de prise de rendez-vous.</p>
                <a href="https://doodle.com/eldin.laurent" target="_blank" class="buttonadmin float-right">Réservation</a>
            </div>
        </article>
    </main>
{% endblock %}