{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id de l'article</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Paragrape de l'article</th>
                <td>{{ article.text|raw }}</td>
            </tr>
            <tr>
                <th>Image de l'article</th>
                <td><img src="{{ asset('assets/uploaded_images/') ~ article.filename }}" alt=""></td>
            </tr>
        </tbody>
    </table>
    <a class="buttonadmin" href="{{ path('article_edit', {'id': article.id}) }}">Éditer</a>
    <br>
    {{ include('article/_delete_form.html.twig') }}
    <a class="buttonadmin" href="{{ path('article_index') }}">Retour</a>
{% endblock %}
